.sobre__descricao {
    padding: 2rem;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

@media screen and (max-width: 500px) {
    .sobre__descricao {
        margin: 0;
    }
}